.edit-skills-btn {
  padding: 0 20px;
  min-width: 0;
  float: right;
  margin: 0;
  height: 24px;
  background: white;
}

.remove-btn {
  float: right;
}

.edit-btn {
  float: right;
  margin-left: 30px;
}
