{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "targets": {
          "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
        }
      },
      "stage-2"
    ]
  ],
  "plugins": [
    [
      "transform-imports",
      {
        "vuetify": {
          "transform": "vuetify/es5/components/${member}",
          "preventFullImport": true
        }
      }
    ],
    ["@babel/plugin-proposal-class-properties"]
  ],
  "env": {
    "test": {
      "presets": ["@babel/preset-env"],
      "plugins": ["istanbul"]
    }
  }
}
