{
  "presets": [
    ["@babel/preset-env", {
      "modules": false,
      "targets": {
        "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
      }
    }]
  ],
  "plugins": ["transform-vue-jsx", ["transform-imports", {
    "vuetify": {
      "transform": "vuetify/es5/components/${member}",
      "preventFullImport": true
    }
  }],
  ["prismjs", {
    "languages": ["javascript", "css", "markup", "bash", "java", "json", "perl", "python", "php", "ruby", "csharp", "go", "visual-basic", "groovy", "objectivec", "swift", "markdown"],
    "theme": "default",
    "css": true
  }],
  ["@babel/plugin-proposal-class-properties"]],
  "env": {
    "test": {
      "presets": ["@babel/preset-env"],
      "plugins": ["transform-vue-jsx", "istanbul"]
    }
  }
}
