.DS_Store
node_modules/
**/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/test/unit/coverage/
/test/e2e/reports/
selenium-debug.log
/src/ors-js/
/src/vue2-leaflet-height-graph/

# Ignore config file
/src/config/app-config.js
/src/config/theme.js
/src/config/ors-map-filters.js
/src/config/hooks.js
/src/config/default-map-settings.js
/src/config/layer-zoom-mapping.js
/src/config/settings-options.js

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

# Web app #
!static/.gitkeep
