.warning-icon {
  padding: 3px 3px 3px 3px;
  float: right;
  margin: 2px 15px 0 0;
  border-radius: 15px;
  background-color: #ffd54f;
  color: darkgoldenrod
}

.content-list {
  box-shadow: none;
  border-bottom: 2px solid #c62828;
  margin: 0 0 5px 0;
}
