
.maps .places-nav {
  z-index: 5;
  padding-bottom: 5px !important;
  position: absolute !important;
}

.maps .refresh-search-btn {
  position: absolute;
  width: 170px;
  z-index: 5;
}

.accessibility-btn {
  position: absolute !important;
  bottom: 125px;
  right: 0px;
  z-index: 4;
  background: white !important;
  color: black;
}
