.map-form-btn {
  float: left;
  width: 54px;
}

.btn-legend {
  font-size: 9px;
  text-align: center;
  word-break: break-word;
  max-width: 58px;
  margin-left: -4px;
}

.map-form-btn .v-btn {
  padding: 0;
  margin: 5px;
}
