.polygon-area {
  padding-left: 5px;
  padding-right: 5px;
}

.polygons-header>>>.v-expansion-panel__header {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  padding-left: 5px;
  min-height: 35px;
  background: transparent;
}

.action-options-wrapper {
  height: 45px;
}
