.profile-btn {
  opacity: 0.4 !important;
}
.profile-btn::before {
  background-color: white !important;
}

.profile-btn.active {
  opacity: 1 !important;
}

.profile-option {
  min-width: 36px;
  min-width: 36px;
  margin-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}