.profile-btn {
  opacity: 0.4 !important;
}
.profile-btn::before {
  background-color: white !important;
}

.profile-btn.active {
  opacity: 1 !important;
}

.profile-options-wrapper {
  max-width: 200px;
}