.no-shadow {
  box-shadow: none;
}

.route-panel {
  background: transparent;
}

.extras-header >>> .v-expansion-panel__header {
 padding-top: 0 !important;
 padding-bottom: 0 !important;
 padding-left: 5px;
 min-height: 35px;
}

.extras-header >>> .v-expansion-panel__body .v-list {
  padding-top: 5px !important;
}

.expansion-box >>> .box-content {
  padding-top: 0 !important;
}

.extra-bar {
  width: calc(100% - 5px);
  cursor: pointer;
  border: 1px solid #cbced1;
  height: 32px;
}

.segment {
  background:red;
  height:30px;
  float:left;
  margin-bottom: 10px;
}

.click-action-info {
  font-style: italic;
  font-size: 11px;
  padding-left: 7px;
  margin-bottom: 5px;
}

.show-all-on-map {
  height: 30px;
  width: 30px;
  margin: 0;
  margin-top: 22px !important;
}
