
footer {
  text-align: center;
  padding: 5px;
}

footer p{
  color: #cbcbcb;
  margin: auto;
}
footer a {
  color: #cbcbcb;
  text-decoration: none;
}

.primary-color {
  color: rgb(var(--v-theme-primary));
}
