
footer {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

footer.small {
  padding-top: 10px;
  padding-bottom: 10px;
}
footer p{
  color: #cbcbcb;
  margin: auto;
}
footer a {
  color: #cbcbcb;
  text-decoration: none;
}
