

.form-fields-slider-text-input {
  float: left;
  width: 50px;
  padding-right: 5px;
  margin-right: 5px;
  height: 40px;
}

.form-fields-slider-text-input >>> input {
  -webkit-appearance: none;
  margin: 0;
  -moz-appearance: textfield;
}



.form-fields-slider-text-input >>> .v-input__slot {
  padding: 2px !important;
  min-height: 40px !important;
}

.form-fields-slider-text-input >>> input::-webkit-inner-spin-button, .form-fields-slider-text-input >>>
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  margin: 0;
}


.form-fields-slider-text-input >>> input {
  margin-top: 5px;
}


.form-fields-slider {
  float: left;
  width: 100%
}
