.logo {
  display: block;
  width: 200px;
  height: auto;
  margin: auto auto 10px;
}

section {
  padding: 5px;
}

.sectionHeader {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.text-justify {
  text-align: justify;
}

.brand {
  float: left;
  margin: 0 20px 40px 0;
}
