.right-context-menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4 !important;
}
.right-click-btn {
  text-transform: none !important;
  padding-right: 0;
  text-align:left;
}

.right-click-btn >>> .v-btn__content {
  padding-left:0;
  display:block;
}
