.field-row {
  min-height: 45px;
  /*border-bottom: 1px solid rgb(213, 222, 237);*/

}

.field-name {
  color: rgb(103, 121, 141);
  border: 1px solid rgb(213, 222, 237);
  white-space: nowrap;
  padding: 2px 4px;
  margin-top: 23px;
  margin-left: -4px;
  display: block;
  float: left;
}

.field-row.header {
  height: 30px;
  color: rgb(103, 121, 141);
  font-weight: 700;
}

.label-txt {
  color:rgb(103, 121, 141)
}

.content-text {
  color: black;
}

.txt-right {
  text-align:right;
}

.pointer {
  cursor:pointer
}

.fields-panel {
  box-shadow:none
}

.fields-panel >>> li > div  {
  padding: 0px;
}

.form-switch {
  margin-top: 0px;
  margin-bottom: 0px;
}

.form-fields-autocomplete >>> input {
  text-transform: capitalize;
}

.form-felds-slider-text-input {
  float: left;
  width: 50px;
  padding-right: 5px;
  margin-right: 5px;
  height: 40px;
}

.form-felds-slider-text-input >>> .v-input__slot {
  padding: 2px !important;
  min-height: 40px !important;
}

.form-felds-slider-text-input >>> input::-webkit-inner-spin-button, .form-felds-slider-text-input >>>
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  margin: 0;
}


.form-felds-slider-text-input >>> input {
  margin-top: 5px;
}


.form-felds-slider {
  float: left;
  width: calc(100% - 55px)
}
