.field-row {
  min-height: 45px;
  /*border-bottom: 1px solid rgb(213, 222, 237);*/

}

.field-name {
  color: rgb(103, 121, 141);
  border: 1px solid rgb(213, 222, 237);
  white-space: nowrap;
  padding: 2px 4px;
  margin-top: 23px;
  margin-left: -4px;
  display: block;
  float: left;
}

.field-row.header {
  height: 30px;
  color: rgb(103, 121, 141);
  font-weight: 700;
}

.label-txt {
  color:rgb(103, 121, 141)
}

.content-text {
  color: black;
}

.txt-right {
  text-align:right;
}

.pointer {
  cursor:pointer
}

.fields-panel {
  box-shadow:none
}

.fields-panel >>> li > div  {
  padding: 0;
}

.form-switch {
  margin-top: 0;
  margin-bottom: 0;
}

.form-fields-autocomplete >>> input {
  text-transform: capitalize;
}

.form-fields-checkbox >>> label {
  color:black !important
}
