.optimization-heading {
  font-size: 1rem;
  padding-left: 5px;
  font-weight: bold;
}

ul.job-inputs li {
  list-style: none;
}

ul.job-inputs {
  padding: 10px 0;
}

.route-btn {
  float: right;
  margin-right: 8px;
  margin-top: 4px;
}

.skill-opt-btn {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 3px
}
.skill-btn-legend {
  font-size: 9px;
  text-align: center;
  word-break: break-word;
  max-width: 58px;
  margin-left: 0;
}
