/* Customize the ORS toolbar */

.app-toolbar {
  background-color: #fff !important;
  border-bottom: 2px solid #e7e7e7;
  -webkit-box-shadow:none;
  box-shadow:none;
  z-index: 1005;
  padding-left: 0 !important;
  position: absolute;
  top:0;
  transition: .2s cubic-bezier(.4,0,.2,1);
}

.app-toolbar.hidden {
  top:-100px;
}

@media (min-width: 1200px) {
  .app-toolbar .v-toolbar__content {
    max-width: 1170px;
    margin: auto;
  }
}

/* End customize the ORS toolbar */
.toggle-header {
  position: absolute;
  right: 170px;
  margin-top: 6px;
  z-index: 4;
  transition: all 0.2s ease;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, .2);
  background-clip: padding-box;
  box-shadow: none !important ;
}
