.switch-side {
  background: #C62828
}

.logo-container {
  text-align: center;
  padding-top: 10px;
}
.logo-container img.small {
  height: 35px;
}

.logo-container a {
  margin-left: -20px !important;
  height: 80%;
  display: block;
  float: left;
  padding-left: 20px;
}

.sidebar{
  margin-top: 0px !important;
  max-height: 100% !important;
  z-index: 4;
  height:100%;
}

.sidebar-content {
  overflow-y: auto;
  overflow-x: hidden;
}

.sidebar-content-form {
  height: auto;
  min-height: 100%;
}

.auto-height {
  height: auto !important;
}

.full-height {
  height: 100% !important;
}

.toggle-sidebar {
  position: absolute;
  top: 300px;
  left: 403px;
  z-index: 3;
  background: #fff;
  transition:all 0.5s ease;
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
  border-radius: 3px;
  width: 37px !important;
  height: 37px !important;
}


.toggle-sidebar.hidden{
  left: 0px;
}

.toggle-sidebar.low-res {
  left: 300px;
}

.sidebar-header-top {
  margin-bottom: 10px;
}

.info-item {
  text-transform: none;
}


.sidebar-top-menu {
  text-align: right;
  padding-right: 10px;
  padding-top: 10px;
}

.brands {
  padding: 20px;
  max-width: 100%;
  height: 300px;
}

.brands.small {
  height: 170px !important;
}
