.switch-side {
  background: #C62828
}

.logo-container {
  text-align: center;
  padding-top: 10px;
}
.logo-container img.small {
  height: 35px;
}

.logo-container a {
  margin-left: -20px !important;
  height: 80%;
  display: block;
  float: left;
  padding-left: 20px;
}

.sidebar{
  margin-top: 0 !important;
  max-height: 100% !important;
  z-index: 4;
  height:100%;
}

.sidebar-content {
  overflow-y: auto;
  overflow-x: hidden;
}

.sidebar-content-form {
  height: auto;
  min-height: 100%;
}

.auto-height {
  height: auto !important;
}

.full-height {
  height: 100% !important;
}

.toggle-sidebar {
  position: absolute;
  top: 300px;
  left: 402px;
  z-index: 3;
  background: #fff;
  transition:all 0.5s ease;
  border: 2px solid rgba(0,0,0,.2);
  background-clip: padding-box;
  border-radius: 5px;
  width: 38px;
  height: 38px;
  box-shadow: none !important

}


.toggle-sidebar.hidden{
  left: 0;
}

.toggle-sidebar.low-res {
  left: 300px;
}

.sidebar-header-top {
  margin-bottom: 10px;
}

.info-item {
  text-transform: none;
}


.sidebar-top-menu {
  text-align: right;
  padding-right: 10px;
  padding-top: 10px;
}

.brands {
  padding: 20px;
  max-width: 100%;
  height: 300px;
}

.brands.small {
  height: 170px !important;
}
