.altitude-snack {
  font-weight: 700;
  padding: 5px;
  left: auto;
  right: 30px;
  max-width: 700px;
}

.altitude-snack.low-resolution {
  margin-left: 0px;
}


.altitude-snack >>> .v-snack__content {
  padding: 5px !important;
  padding: 1px;
}
.altitude-snack >>> .v-snack__wrapper {
  box-shadow: none !important;
  max-width: 100%;
  width: 100%;
}

.altitude-snack-content {
  padding: 5px;
  width: 100%;
}

