.map-view >>> .leaflet-top.leaflet-left {
  margin-top: 70px;
}

.map-view.extra-low-resolution >>> .leaflet-top.leaflet-right {
  margin-top: 70px;
}


.map-view >>> .leaflet-control-attribution.leaflet-control {
  background-color: rgba(256,256,256, 0.6);
}
