.map-view {
  width: 100%;
  z-index:2
}

.map-view-controls {
  z-index: 5;
}

.left-context-menu {
  position: absolute;
  bottom: 150px;
  right: 10px;
  z-index: 4 !important;
  font-size: 10px;
  max-width: 60%;
  overflow: hidden;

}

.copy-inverted {
  transform: scaleX(-1)
}

.over-brand {
  position: absolute;
  bottom: 170px;
  right: 5px;
  z-index: 4;
  opacity: 0.7;
  height: 100px;
  display: hidden;
}

.fit-all-features {
  position: absolute !important;
  top: 145px;
  right: 0px;
  z-index: 2;
  background: white !important;
  color: black;
  border-radius: 3px;
  border: 2px solid rgba(0,0,0,0.2);
}

.fit-all-features.extra-low-resolution {
  top: 255px;
}

.view-on-ors {
  position: absolute !important;
  bottom: 40px;
  right: 2px;
  z-index: 2;
  background: white !important;
  color: black;
  border-radius: 3px;
  text-transform: initial !important;
}

.move-map-arrow {
  position: absolute !important;
  z-index: 4;
  background: white !important;
  color: black;
}
.move-map-arrow.left{
  left: 35px;
  top: calc(50% - 10px);
}
.move-map-arrow.right{
  top: calc(50% - 10px);
  right: 45px;
}
.move-map-arrow.up{
  left: calc(50% - 30px);
  top: 70px;
}
.move-map-arrow.down{
  left: calc(50% - 30px);
  bottom: 10px;
}
