.map-view >>> .leaflet-top.leaflet-left {
  margin-top: 70px;
}

.map-view.extra-low-resolution:not(.embedded) >>> .leaflet-top.leaflet-right {
  margin-top: 70px;
}

.map-view.hide-controls >>> .leaflet-top.leaflet-right {
  display: none;
}

.map-view.extra-low-resolution.hide-controls >>> .leaflet-control-attribution {
  display: none;
}

.map-view.extra-low-resolution.hide-controls >>> .leaflet-control-zoom {
  display: none;
}

.map-view >>> .leaflet-control-attribution.leaflet-control {
  background-color: rgba(256,256,256, 0.6);
}

.map-view >>> .leaflet-control-layers-toggle {
  width: 36px;
  height: 36px;
}



.map-view >>> .leaflet-popup-close-button {
  position: absolute;
  right: 5px;
  top: 0;
  padding-left: 5px;
  font-size: 18px;
  text-decoration: none;
}

.map-view >>> .leaflet-popup-content {
  word-break: break-all;
  min-width: 150px;
}

.map-view.low-resolution >>> .leaflet-popup-content {
  max-width: 200px;
  max-height: 300px;
}
