.map-view >>> .leaflet-top.leaflet-left {
  margin-top: 70px;
}

.map-view.extra-low-resolution >>> .leaflet-top.leaflet-right {
  margin-top: 70px;
}

.map-view >>> .leaflet-control-attribution.leaflet-control {
  background-color: rgba(256,256,256, 0.6);
}

.map-view >>> .leaflet-popup-close-button {
  position: absolute;
  right: 5px;
  top: 0;
  padding-left: 5px;
  font-size: 18px;
  text-decoration: none;
}

.map-view >>> .leaflet-popup-content {
  max-width: 170px;
  word-break: break-all;
}
