.map-view {
  width: 100%;
  z-index:2;
  cursor: pointer;
}

.map-view.click-to-pick {
  font-family: 'Material Icons';
  cursor: crosshair;
  /*cursor: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='32px' height='32px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;transform: scaleY(-1) rotate(-0deg);' xml:space='preserve'%3E  %3Cpath id='add-location-cursor' d='M405 235h-128v-128h-42v128h-128v42h128v128h42v-128h128v-42z'/%3E %3C/svg%3E"), pointer;*/
}

.map-view-controls {
  z-index: 5;
}

.left-context-menu {
  position: absolute;
  bottom: 150px;
  right: 10px;
  z-index: 4 !important;
  font-size: 10px;
  max-width: 60%;
  overflow: hidden;

}

.copy-inverted {
  transform: scaleX(-1)
}

.over-brand {
  position: absolute;
  bottom: 170px;
  right: 5px;
  z-index: 501;
  opacity: 0.7;
  height: 100px
}

@media (max-width: 600px) {
  .over-brand {
    height: 70px
  }
}

.my-location-btn {
  position: absolute !important;
  bottom: 80px;
  right: 0px;
  z-index: 1000;
}

.accessibility-btn {
  position: absolute !important;
  top: 55px;
  right: 2px;
  z-index: 502;
  color: black;
  transition:all 0.5s ease;
  border: 2px solid rgba(0,0,0,.2);
  background-clip: padding-box;
  border-radius: 5px;
  width: 38px;
  height: 38px;
  box-shadow: none !important
}
.accessibility-btn.extra-low-resolution {
  top: 125px;
}


.fit-all-features {
  position: absolute !important;
  top: 105px;
  right: 1px;
  z-index: 502;
  color: black;
  border-radius: 5px;
  border: 2px solid rgba(0,0,0,.2);
  background-clip: padding-box;
  width: 38px;
  height: 38px;
  box-shadow: none !important
}

.fit-all-features.extra-low-resolution {
  top: 175px;
}

.view-on-ors {
  position: absolute !important;
  bottom: 40px;
  right: 2px;
  z-index: 2;
  background: white !important;
  color: black;
  border-radius: 3px;
  text-transform: initial !important;
}

.move-map-arrow {
  position: absolute !important;
  z-index: 4;
  background: white !important;
  color: black;
}
.move-map-arrow.left{
  left: 35px;
  top: calc(50% - 10px);
}
.move-map-arrow.right{
  top: calc(50% - 10px);
  right: 45px;
}
.move-map-arrow.up{
  left: calc(50% - 30px);
  top: 70px;
}
.move-map-arrow.down{
  left: calc(50% - 30px);
}
