.isochrones-input {
  padding-top: 10px;
}
.reorder-handle:hover{
  cursor:move;
}

.reorder-handle{
  padding-top:18px;
}

ul.place-inputs li {
  list-style: none;
}

ul.place-inputs {
  padding: 10px 0;
}

.extra-btn {
  padding-left: 0;
}
